<div class="mb-scores {{classes}}">
	{{#if critics_score}}
	<div class="mb-critics"><a href="{{link}}" title="See reviews for '{{title}}' at Rotten Tomatoes"><span class="mb-icon {{critics_rating}}">Critics Rating: {{critics_rating}}</span><span class="mb-score">{{critics_score}}%</span></a></div>
	<div class="mb-audience"><a href="{{link}}" title="See reviews for '{{title}}' at Rotten Tomatoes"><span class="mb-icon {{audience_rating}}">Audience Rating: {{audience_rating}}</span><span class="mb-score">{{audience_score}}%</span></a></div>
	{{else}}
	<div class="mb-not-found"><a href="https://www.rottentomatoes.com/search/?search={{query}}" target="rt">check freshness</a></div>
	{{/if}}
</div>