<div class="mb-scores">
	<div class="mb-critics"><span class="mb-icon {{critics_rating}}">Critics Rating: {{critics_rating}}</span><span class="mb-score">{{critics_score}}%</span></div>
	<div class="mb-audience"><span class="mb-icon {{audience_rating}}">Audience Rating: {{audience_rating}}</span><span class="mb-score">{{audience_score}}%</span></div>
</div>